rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /profiles/{documentId} {
      allow read, write, create: if request.auth != null && request.auth.uid == documentId;
    }
    match /conversations/{documentId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
    }
    match /config/supported_langs {
    	allow read;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}